@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  min-height: 100vh;
  padding: 3.2rem;
  padding-bottom: 6rem;
}

.container {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  border: 2px solid #252525;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.2rem;
}

h2 {
  font-size: 2.6rem;
}

.tools-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tool {
  border: 2px solid transparent;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

/*
.tools-container > :nth-child(1) {
  background-color: #f7c1b5;
}

.tools-container > :nth-child(2) {
  background-color: #b5f5c1;
}

.tools-container > :nth-child(3) {
  background-color: #c5d0ff;
}

.tools-container > :nth-child(4) {
  background-color: #ecf0b7;
}

.tools-container > :nth-child(5) {
  background-color: #f3b5ef;
}
*/
